.cabecalho {
    text-align: center;
    position: relative;
}

.cabecalho h1 {
    color: var(--text);
    margin-right: 46px;
}

.cabecalho p {
    color: var(--text);
    margin-right: 46px;
}

@media (max-width: 767px) {

  .cabecalho h1 {
    font-size: 24px;
  }

  .cabecalho p {
    font-size: 14px;
  }

  .temp-btn {
  position: absolute;
  top: 60px;
  right: 12px;

  padding: 6px 12px;
  border-radius: 999px;
  border: 1px solid var(--divider);

  background: var(--bg-card);
  color: var(--text-main);

  font-weight: 600;
  cursor: pointer;
  box-shadow: var(--shadow);
}

.temp-btn:hover {
  opacity: 0.85;
}

}

@media (min-width: 768px) and (max-width: 1023px) {

  .cabecalho h1 {
    font-size: 28px;
  }

}

@media (min-width: 1023px)  {
  .cabecalho h1{
    font-size: 38px;
  }

  .cabecalho p {
    font-size: 18px;
  }
}